<!DOCTYPE html>
<html>
<head>
	<title>Portfolio Home</title>

	<link rel="stylesheet" type="text/css" href="../css/home.css">

	<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Cantarell|Julius+Sans+One|Quicksand" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">




	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>

</head>
<body>
	<div class = "homeMain">
		<div class = "upArrow  fas fa-chevron-up"></div>
		<div class = "scrollPrompt">Enter Here</div>



		<div class = "mainName">Ben Walley</div>

		<canvas id = "mainCanvas" width = "600" height = "400"></canvas>
	</div>

	<script type="text/javascript" src = "../js/home.js"></script>
</body>
</html> 